<!DOCTYPE html>
<html>
<head>
    <title>Kolokwium</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="cell" class="[active == 1.1 ? background-color: red]"  style="width: 50px; height:50px;; background-color: orange; border: 1px solid grey; border-radius: 10px; margin-left: 10px; margin-left: 10px; display:flex; align-items: center; justify-content: center;">
            <p>1</p>
        </div>
    {{ message }}
    <ul class="column" v-for="column in column" >
        <li class="cell" v-for="rows in rows">
            <div>{{ column }},{{ rows }}</div>
        </li>
    </ul>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia',
            rows: 10,
            column: 10,
            active: 1.1,
            
        }
    })
    </script>
</body>
</html>
